<a href="https://colab.research.google.com/github/Abhipsakumaripriyadarshinee/movie_recommendation_engine/blob/main/cosine_similarity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [40]:
from sklearn.feature_extraction.text import CountVectorizer

In [41]:
from sklearn.metrics.pairwise import cosine_similarity

In [42]:
text = ["London Paris London", "Paris Paris London"]

In [43]:
cv = CountVectorizer()

In [44]:
count_matrix = cv.fit_transform(text)

In [45]:
#print(count_matrix.toarray())

In [46]:
similarity_scores = cosine_similarity(count_matrix)

In [47]:
print(similarity_scores)

[[1.  0.8]
 [0.8 1. ]]

In [48]:
import pandas as pd

In [49]:
df = pd.read_csv("https://raw.githubusercontent.com/codeheroku/Introduction-to-Machine-Learning/master/Building%20a%20Movie%20Recommendation%20Engine/movie_dataset.csv")

In [50]:
df.head()

   index  ...           director
0      0  ...      James Cameron
1      1  ...     Gore Verbinski
2      2  ...         Sam Mendes
3      3  ...  Christopher Nolan
4      4  ...     Andrew Stanton

[5 rows x 24 columns]